@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    background-color: rgb(244, 244, 244);
}

#principal {
    width: 1024px;
    margin: auto;
}

.imagem-modelo {
    opacity: 95%;
}

/* Cabeçalho */

.header-topo {
    height: 50px;
    background: #162028;
    position: relative;
}

.logotipo {
    margin: 5px 0 0 135px;
    padding-top: 3px;
}

.header-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    align-items: center;
}

.header-nav ul {
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
    display: inline-block;
    margin: 0px 15px 0 0;
    padding: 13px;
}

.header-nav a {
    color: #99a4ab;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color .3s linear;
}

.header-nav a:hover {
    color: white;
}

.portifolio {
    padding: 50px 100px;
    text-align: center;
}

.portifolio h1 {
    font-size: 36px;
    color: #252525;
}
.portifolio p {
    font-size: 16px;
    line-height: 2;
    color: #555;
}

.galeria {
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}

.galeria-cartao {
    width: 32%;
    float: left;
    text-align: center;
}

.galeria-titulo {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}

.sobre {
    background-color: #003d52;
    padding: 100px;
    color: white;
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.sobre h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

.sobre p {
    line-height: 1.5;
    width: 70%;
}

.contato {
    margin: 50px 0;
}

.contato address {
    color: #143f52;
    text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

.mapa {
    width: 100%;
    height: 450px;
    margin-top: 15px;
}

.mapa iframe {
    width: 100%;
}

.rodape {
    background: #0b171f;
    color: #6f8597;
    padding: 25px;
    font-size: 12px;
    letter-spacing: 5px;
    text-align: center;
}