h1 {
    color: black;
    font-family: arial;
    text-align: center;
}

p {
    color: gray;
    font-size: 20px;
}

#titulo-2 {
    color: green;
    font-size: 20px;
}

.nome {
    color: brown;
}

.hexa {
    color: #6a40c4;
}

.rgba {
    color: rgba(17, 197, 241, 1);
}