@media screen and (max-width: 700px) {
    
    main {
        display: flex;
        flex-direction: column;
    }

    header > a {
        font-size: 1.5em;
    }

    section {
        margin-bottom: 20px;
        color: #ffffffba;
    }

    article {
        text-align: start;
    }

    article > h2 {
        text-align: center;
    }
}