body {
    background-color: lightseagreen;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.231);
    padding: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}




