* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.plano-de-fundo {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, rgba(5, 1, 20, 0.3), rgba(5, 1, 20, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: bold;
}

#cadastrar {
    border: 1px solid white;
    padding: 10px;
    margin-left: 15px;
    border-radius: 20px;
    color: black;
    background-color: rgb(255, 255, 255);
    font-weight: normal;
}

#cadastrar:hover {
    font-weight: bolder;
}

.logo {
    width: 85px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 100%;
    margin-left: 30px;
    cursor: pointer;
}

.conteudo {
    text-align: center;
}

.conteudo h1 {
    margin-top: 80px;
    font-size: 120px;
    color: white;
    font-weight: 600px;
    transition: 0.5s;
}

.conteudo h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.conteudo a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}