body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #73513490;
    color: #F2F2F2;
}

main {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
}

section {
    color: #ffffffd6;
    border: 1px solid #735134b1;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
}

h1 {
    font-size: 2;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #735134b1;
}

article {
    color: #735134;
    border: 1px solid #735134b1;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    list-style-position: inside;
    text-transform: uppercase;
    background-color: #f2f2f284;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
}

li {
    font-size: 0.9em;
}
