*,*::after, *::before {
    box-sizing: border-box;
    scroll-padding-top: 120px; /*Permite uma distância quando se clica na nav*/
}

html {
    font-size: 18px;
    scroll-behavior: smooth; /*Permite uma transição suave quando se clica na nav*/
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Para tornar o site responsivo */

img, iframe, video {
    max-width: 100%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

header {
    background-color: #ffffff;
    text-align: center;
    position: sticky;
    top: 0;
    padding-bottom: 0.7rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    font-weight: normal;
    padding: .5rem .6rem;
    transition: all 0.8s;
}

nav a:hover {
    color: rgb(255,238,60);
    background-color: #000;
}

main, section {
    height: 73vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.conteudo {
    width: 90%;
    margin: auto;
    max-width: 800px;
}

.conteudo h1 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.conteudo p {
    line-height: 2rem;
}

.cta {
    font-family: sans-serif;
    text-decoration: none;
    font-size: .8em;
    font-weight: 600;
    background-color: rgb(255,238,60);
    padding: 1.15rem 1.8rem;
    line-height: 5.5rem;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.cta::before {
    content: "+";
    margin-right: 0.8rem;
}

.verde-agua {
    background-color: #26ccca;
}

#ux {
    color: #fff;
    background-image: url('imagens/h13-background-img-2-min.jpg');
}

#motion {
    background-image: url('imagens/h13-background-img-3-min.jpg');
    background-size: cover;
    background-position-x: center;
}

#brand {
    background-image: url('imagens/h13-background-img-4-min.jpg');
    color: #fff;
}

.texto {
    color: #999;
}

#print {
    background-image: url('imagens/h13-background-img-5-min.jpg');
    background-size: cover;
    background-position-x: center;
}

#produto {
    background-image: url('imagens/h13-background-img-1-min.jpg');
    background-size: cover;
    background-position-x: center;
}

#produto, #motion, #print {
    background-attachment: fixed;
}

.conteudo {
    width: 40%;
    max-width: 880px;
    margin: 0;
    margin-left: 4rem;
}

.fixed {
    position: fixed;
    width: 65px;
    height: 65px;
    font-weight: bolder;
    bottom: 30px;
    right: 30px;
    opacity: 90%;
}

.fixed:hover {
    /* background-color: rgba(0, 128, 0, 0.406); */
    font-weight: bolder;
    /* border-radius: 35px; */
    transform: scale(110%);
    transition: 0.5s;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 13vh;
        padding: 0;
    }

    .logo {
        width: 25%;
    }

    header nav {
        width: 70%;
        max-width: 880px;
    }

    nav a {
        font-size: 1.1rem;
        padding: 0.7rem;
    }

    .conteudo h1 {
        font-size: 5rem;
        margin: -.6rem;
    }
}